{% assign page = include.page %}

<header>
    <div>
        <div class="mve-article-titel">
            {% if include.link %}
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
        </div>
        
        <div class="mve-article-edit">
            <a class="mve-article-edit-link" target="_blank" href="{{site.github.repository_url}}/blob/master/{{page.path}}">edit on github</a>
        </div>

        <div>
            <ul class="mve-article-meta-ul">
                {% if page.date %}
                <li class="mve-article-meta-li">
                    <i></i>
                    Created {{ page.date | date: "%Y-%m-%d" }} by {{ page.author }}
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</header>
