{% assign page = include.page %}

<header>
    <div>
        <div class="mve-article-titel">
            {% if include.link %}
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
        </div>

        <div>
            <ul class="mve-article-meta-ul">
                {% if page.date %}
                <li>
                    <i class="mve-article-meta-li"></i>
                    Created {{ page.date | date: "%Y-%m-%d" }} by {{ page.author }}
                </li>
                {% endif %}
            </ul>
        </div>

        <ul class="mve-article-tags-ul">
            {% assign tags_num = (page.tags | size) %}
            {% if tags_num > 0 %}
            <li><i class="mve-article-tags-li"></i></li>
            {% endif %}
            {% for tag in page.tags %}
            <li>
                <a class="mve-article-tags-li" href="{{ '/search/?t=' | append: tag | prepend: site.baseurl }}">#{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>


    </div>
</header>
