$site-max-width: 1100px;

body {
    margin:0;
	padding:0;
	background-color: grey;
}


.mve-site-header {
    width: $site-max-width;
    background-color: red;
        margin:0;
    }

.mve-site-container {
}

.mve-site-content {
    width: 70%;
    float: left;
}

.mve-site-widgets {
    padding-left: 50px;
    width: 30%;
    float: left;
}

.mve-site-footer {
    width: 100%;
    background-color:blue;
}

