// layout variables
$site-width: 1100px;
$content-width: 700px;
$widgets-width: 350px;
$default-paddig: 50px;

// colors variables
$color-header: blue;
$color-menu: red;
$color-background: #e3e3e3;
$color-content: white;
$color-footer: green;


body {
    margin:0;
    padding:0;
    background-color: $color-background;
}

// Header
.mve-site-header-wrapper {
    width: 100%;
    background-color: $color-header;
    }
    
.mve-site-header {
    width: $site-width;
    margin-right: auto;
    margin-left: auto;
    }

// Menu
.mve-site-menu-wrapper {
    width: 100%;
    background-color: $color-menu;
    }

.mve-site-menu {
    width: $site-width;
    margin-right: auto;
    margin-left: auto;
    }

// Content
.mve-site-container {
    width: $site-width;
    margin-right: auto;
    margin-left: auto;
}

.mve-site-content {
    width: $content-width;
    float: left;
}

.mve-article-wrapper {
    background-color: $color-content;
}

.mve-site-widgets {
    padding-left: $default-paddig;
    width: $widgets-width;
    float: left;
}

// Footer
.mve-site-footer-wrapper {
    width: 100%;
    background-color: $color-footer;
    clear:both;
    }

.mve-site-footer {
    width: $site-width;
    margin-right: auto;
    margin-left: auto;
}

