$site-width: 1100px;
$content-width: 700px;
$widgets-width: 350px;
$default-paddig: 50px;

body {
    margin:0;
	padding:0;
	background-color: grey;
}


.mve-site-header {
    width: $site-width;
    background-color: red;
    }

.mve-site-container {
}

.mve-site-content {
    width: $content-width;
    float: left;
}

.mve-site-widgets {
    padding-left: $default-paddig;
    width: $widgets-width;
    float: left;
}

.mve-site-footer {
    width: 100%;
    background-color:blue;
    clear:both;
}

